body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;
  gap: 10px;
}

div {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

div.shadow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

p {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

svg {
  fill: rgba(255, 255, 255, 0.5);
}
